.u-section-1 .u-sheet-1 {
  min-height: 992px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 496px;
  margin: -496px -18px 31px 699px;
}

.u-section-1 .u-image-1 {
  width: 1080px;
  height: 118px;
  object-position: 50% 11.18%;
  margin: 34px auto 0;
}

.u-section-1 .u-image-2 {
  width: 363px;
  height: 254px;
  margin: 30px 30px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 687px;
  height: 250px;
  margin: -250px auto 0 30px;
}

.u-section-1 .u-text-1 {
  font-family: Inter;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-list-1 {
  width: 717px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 460px;
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 200px;
  width: 150px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 496px;
  margin: -496px 30px 24px 747px;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 503px;
  margin: -689px 113px 60px 547px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 503px;
  margin: 0 113px 60px 547px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 503px;
  margin: 0 3px 0 437px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 599px;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.6);
    height: 103px;
    width: 880px;
    margin-top: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 487px;
    margin-top: -254px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 517px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 689px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 503px;
    margin: -721px 113px 0 547px;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 491px;
    margin-top: -721px;
    margin-bottom: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 489px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 84px;
  }

  .u-section-1 .u-image-2 {
    width: 315px;
    height: 300px;
    margin-top: 310px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-image-3 {
    width: 660px;
    margin-top: -580px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 360px;
  }

  .u-section-1 .u-list-1 {
    width: 679px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 462px;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 307px;
    margin-right: 30px;
    margin-left: 375px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 3px;
    margin-left: 437px;
  }

  .u-section-1 .u-custom-html-4 {
    margin: -828px 30px 355px 375px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 399px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 69px;
  }

  .u-section-1 .u-image-2 {
    width: 210px;
    margin-top: 265px;
  }

  .u-section-1 .u-image-3 {
    width: 480px;
    height: 205px;
    margin-top: -535px;
  }

  .u-section-1 .u-list-1 {
    width: 496px;
    margin-right: 14px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 690px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 280px;
    margin-right: 0;
    margin-left: 177px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 0;
    margin-left: 260px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 300px;
    width: 240px;
    margin: -1056px 30px 779px 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2063px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 407px;
    width: 280px;
    margin: 614px auto 0;
  }

  .u-section-1 .u-image-1 {
    height: 49px;
    width: 280px;
    margin-top: -991px;
  }

  .u-section-1 .u-image-2 {
    width: 280px;
    margin-top: 205px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    height: 145px;
    width: 280px;
    margin-top: -475px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 797px;
    margin-left: 33px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 946px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    margin-left: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 25px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 60px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: 25px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 0;
    margin-left: 100px;
  }
}